$background-color-1:#E5E5E5;
$background-color-2:#202020;
$default-1:#ffffff;
$default-2:#CACACA;
$default-3:#999999;
$default-4: #4A4A4A;
$default-5:#E9E9E9;
$default-6:#E9E9E9;
$color-btn-prim:#FF6E30;
$color-focus:#BC572B;
$color-active:#CE4307;
$color-error:#F06666;



